{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <br>
    <div class="container">
        <h1 class="text-center text-capitalize mb-3">{% trans 'about-us' %}</h1>

        <div class="row justify-content-center">
            <div class="col-lg-8 text-justify">
                {% trans 'about-us-content-1' %}
            </div>
        </div>

        <br>
        <div class="text-center">
            <img src="{% static 'images/certificate.jpg' %}" class="img-fluid">
        </div>
        <br>

        <div class="row justify-content-center">
            <div class="col-lg-8 text-justify">
                {% trans 'about-us-content-2' %}
            </div>
        </div>

        <br>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <img src="{% static 'images/map_world.jpg' %}" class="img-fluid">
            </div>
        </div>
        <br>
        <br>

        <div class="row img-factory">
            {% for img in factory_images %}
                {% if forloop.first %}
                    <div class="col-lg-12">
                        <img src="{% static img %}" class="img-fluid">
                    </div>
                {% else %}
                    <div class="col-lg-6">
                        <img src="{% static img %}" class="img-fluid">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
