{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<!-- <div class="banner">
	<img src="{% static 'images/banner-image-2.jpg' %}" class="img-fluid">
</div> -->
<div class="container-fluid">
	<div class="container banner-follow-us">
		<p class="first-line">{% trans 'follow-us-and-be-friend' %}</p>
        <a href="{{FACEBOOK}}" target="_blank"><img src="{% static 'images/facebook_square_button.png' %}" alt="facebook"></a>
		<a href="{{LINE}}" target="_blank"><img src="{% static 'images/line_rect_button.png' %}" alt="เพิ่มเพื่อนไลน์"></a>
        <a href="{{YOUTUBE}}" target="_blank"><img src="{% static 'images/youtube_square_button.png' %}" alt="youtube"></a>
	</div>
</div>

<div class="intro-video">
	<div class="row">
	    <div class="col-lg-8 offset-lg-2 text-red text-center">
	        <video controls class="img-fluid" poster="{{MEDIA_URL|add:'videos/evtron_introduction.jpg'}}">
	        	<source src="{{MEDIA_URL|add:'videos/evtron_introduction.mp4'}}" type="video/mp4">
	            Your browser does not support the video tag.
	        </video>
	    </div>
	</div>
</div>

<div class="container-fluid about-line">
	<div class="container">
		<div class="row">
			<div class="col-lg-1"></div>
		    <div class="col-lg-5 d-flex align-items-center mb-3">
		    	<div>
		        	<h2>{% trans 'about-evtron' %}</h2>
			        <section>{% trans 'about-evtron-content' %}</section>
				</div>
		    </div>
		    <div class="col-lg-6">
		        <div class="">
		            <img src="{% static 'images/repair-guy.jpg' %}" alt="about us image" class="img-fluid">
		        </div>
		    </div>
		</div>
	</div>
</div>

<div class="container-fluid benefit-line">
	<div class="container">
		<h1 class="text-center">{% trans 'benefit-line' %}</h1>
		<div class="row justify-content-center">
	    	<div class="col-lg-3 col-md-4 benefit img-frame h250">
	    		<img src="{% static 'images/benefits/benefit_1.jpg' %}">
	    		<div class="benefit-text">{% trans 'benefit-1' %}</div>
	    	</div>
	    	<div class="col-lg-3 col-md-4 benefit img-frame h250">
	    		<img src="{% static 'images/benefits/benefit_2.jpg' %}">
	    		<div class="benefit-text">{% trans 'benefit-2' %}</div>
	    	</div>
	    	<div class="col-lg-3 col-md-4 benefit img-frame h250">
	    		<img src="{% static 'images/benefits/benefit_3.jpg' %}">
	    		<div class="benefit-text">{% trans 'benefit-3' %}</div>
	    	</div>
	    	<div class="col-lg-3 col-md-4 benefit img-frame h250">
	    		<img src="{% static 'images/benefits/benefit_4.jpg' %}">
	    		<div class="benefit-text">{% trans 'benefit-4' %}</div>
	    	</div>
	    	<div class="col-lg-3 col-md-4 benefit img-frame h250">
	    		<img src="{% static 'images/benefits/benefit_5_2.jpg' %}">
	    		<div class="benefit-text">{% trans 'benefit-5' %}</div>
	    	</div>
	    </div>
    </div>
    <br>
 </div>

<div class="container py-2">
	<h1 class="text-center mt-4 mb-3">{% trans 'compare-ice-ev' %}</h1>
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<div class="row">
				<div class="col-lg mb-4">
					<br>
			        <div class="img-frame h100">
			            <img src="{% static 'images/money-bag.png' %}" alt="save cost image">
			        </div>
			        <h2 class="text-center">{% trans 'cost-saving' %}</h2>
			        <section class="mb-3">
		            	{% trans 'cost-saving-content-1' %}
			        </section>
			        <table class="compare-table mb-3">
			        	<tr>
			        		<th>{% trans 'ice-r1-l1' %}<br>{% trans 'ice-r1-l2' %}</th>
			        		<th>{% trans 'ev-r1-l1' %}<br>{% trans 'ev-r1-l2' %}</th>
			        	</tr>
			        	<tr>
			        		<td>{% trans 'ice-r2' %}</td>
			        		<td>{% trans 'ev-r2' %}</td>
			        	</tr>
			        	<tr>
			        		<td>{% trans 'ice-r3' %}</td>
			        		<td>{% trans 'ev-r3' %}</td>
			        	</tr>
			        	<tr>
			        		<td>{% trans 'ice-r4' %}</td>
			        		<td>{% trans 'ev-r4' %}</td>
			        	</tr>
			        </table>
			        <section class="">{% trans 'cost-saving-content-2' %}</section>
			    </div>
			</div>
			<div class="row">
			    <div class="col-lg mb-4">
			        <div class="img-frame h100">
			            <img src="{% static 'images/wrench.png' %}" alt="maintenance image">
			        </div>
			        <h2 class="text-center">{% trans 'low-maintenance' %}</h2>
			        <section>
			            {% trans 'low-maintenance-content' %}
			        </section>
			    </div>
			</div>
			<div class="row">
			    <div class="col-lg mb-4">
			        <div class="img-frame h100">
			            <img src="{% static 'images/go-green.png' %}" alt="save environment image">
			        </div>
			        <h2 class="text-center">{% trans 'eco-friendly' %}</h2>
			        <section>
			            {% trans 'eco-friendly-content' %}
			        </section>
			    </div>
			</div>
		</div>
	</div>

</div>

<div class="container-fluid product-list">
	<div class="container">
		<div class="row justify-content-center">
		    <h1 class="text-center pt-4 pb-3">{% trans 'models' %}</h1>
		    <div class="row justify-content-center">
		    	<a href="{% url 'product:product-wind' %}" class="col-lg-3 col-md-4 product img-frame h250">
		    		<img src="{% static 'images/products/wind1.jpg' %}">
		    		<h3>WIND</h3>
		    	</a>
		    	<a href="{% url 'product:product-move' %}" class="col-lg-3 col-md-4 product img-frame h250">
		    		<img src="{% static 'images/products/move1.jpg' %}">
		    		<h3>MOVE</h3>
		    	</a>
		    	<a href="{% url 'product:product-sl-carry' %}" class="col-lg-3 col-md-4 product img-frame h250">
		    		<img src="{% static 'images/products/sl-carry1.jpg' %}">
		    		<h3>CARRY</h3>
		    	</a>
		    	<a href="{% url 'product:product-hawk' %}" class="col-lg-3 col-md-4 product img-frame h250">
		    		<img src="{% static 'images/products/hawk1.jpg' %}">
		    		<h3>HAWK</h3>
		    	</a>
		    	<a href="{% url 'product:product-max' %}" class="col-lg-3 col-md-4 product img-frame h250">
		    		<img src="{% static 'images/products/max1.jpg' %}">
		    		<h3>MAX</h3>
		    	</a>
		    	<!-- <a href="{% url 'product:product-flash' %}" class="col-lg-3 col-md-4 product img-frame h250">
		    		<img src="{% static 'images/products/flash1.jpg' %}">
		    		<h3>FLASH</h3>
		    	</a> -->
		    </div>
	    </div>
	</div>
</div>

<div class="container pt-3">
	<div class="row justify-content-center">
		<div class="col-lg-3 mb-3 img-frame h200">
			<img src="{% static 'images/can-register.jpg' %}" class="img-fluid">
		</div>
		<div class="col-lg-5 mb-3 d-flex align-items-center">
			{% trans 'legal-register' %}
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-3 mb-3 order-lg-2 img-frame h200">
			<img src="{% static 'images/evtron-services.jpg' %}" class="img-fluid">
		</div>
		<div class="col-lg-5 mb-3 order-lg-1 d-flex align-items-center">
			{% trans 'customer-satisfaction' %}
		</div>
	</div>
</div>

{% endblock content %}
