{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<div class="banner">
	<img src="{% static 'images/banner-image.jpg' %}" class="img-fluid">
</div>

<div class="container">
	<h1 class="text-center mt-3">รถจักรยานยนต์ไฟฟ้า EVTRON ดีอย่างไร ?</h1>
	<br>
	<div class="row">
	    <div class="col-lg benefits">
	        <div class="benefits-frame">
	            <img src="{% static 'images/money-bag.png' %}" alt="save cost image">
	        </div>
	        <h1 class="text-center">ประหยัดค่าใช้จ่าย</h1>
	        <hr>
	        <section>
	            อัตราการใช้พลังงานของจักรยานยนต์ไฟฟ้านั้นต่ำกว่าเครื่องยนต์เชื้อเพลิงเป็นอย่างมาก โดยส่วนใหญ่ผู้ใช้จักยานยนต์จะมีการใช้งานเดินทางประมาณ 40 กิโลเมตรต่อวัน ตกเป็นค่าน้ำมันมากกว่า 210 บาทต่อสัปดาห์ แต่หากเป็นพลังงานไฟฟ้าจะมีค่าใช้จากการชาร์จไฟฟ้าเพียง 24.5 บาทต่อสัปดาห์เท่านั้น จักรยานยนต์ไฟฟ้าจึงช่วยประหยัดเงินได้มากกว่า 9,600 บาทต่อปี !
	        </section>
	    </div>
	    <div class="col-lg benefits">
	        <div class="benefits-frame">
	            <img src="{% static 'images/wrench.png' %}" alt="maintenance image">
	        </div>
	        <h1 class="text-center">ดูแลรักษาง่าย</h1>
	        <hr>
	        <section>
	            จักรยานยนต์ไฟฟ้า ไม่มีการใช้น้ำมันเครื่อง น้ำมันเกียร์ แหวนยาง วาล์วน้ำมัน หรือสายพาน ซึ่งเป็นชิ้นส่วนที่ต้องคอยหมั่นซ่อมบำรุง จึงลดค่าใช้จ่ายในการบำรุงรักษาได้อย่างมาก อีกทั้งจักรยานยนต์ไฟฟ้ามีชิ้นส่วนอุปกรณ์ที่น้อยกว่าเครื่องยนต์น้ำมันเป็นอย่างมาก จึงดูแลรักษาได้ง่าย ลดความเสี่ยงที่เกิดจากการบำรุงรักษาที่ไม่ดี เพิ่มความปลอดภัยในการขับขี่ได้เป็นอย่างดี
	        </section>
	    </div>
	    <div class="col-lg benefits">
	        <div class="benefits-frame">
	            <img src="{% static 'images/go-green.png' %}" alt="save environment image">
	        </div>
	        <h1 class="text-center">รักษาสิ่งแวดล้อม</h1>
	        <hr>
	        <section>
	            จักรยานยนต์ไฟฟ้าไม่มีการเผาไหม้เชื้อเพลิง ใช้เพียงพลังงานไฟฟ้าเท่านั้น จึงมีส่วนช่วยในการลดการปล่อยก๊าซคาร์บอนไดออกไซด์สู่ชั้นบรรยากาศ ซึ่งเป็นสาเหตุสำคัญของภาวะโลกร้อน อีกทั้งเครื่องยนต์ไฟฟ้ายังเงียบ ไม่สร้างเสียงดังรบกวน การใช้จักรยานยนต์ไฟฟ้าจึงช่วยรักษาสิ่งแวดล้อมและสร้างสังคมเมืองให้น่าอยู่ยิ่งขึ้น
	        </section>
	    </div>
	</div>
</div>

<div class="container-fluid product-list">
	<div class="container">
		<div class="row mt-4">
		    <h1 class="text-center pt-4 pb-3">สินค้ารุ่นต่างๆ</h1>
		    <div class="row justify-content-center">
		    	<a href="#" class="col-4 product">
		    		<img src="{% static 'images/products/milg.jpg' %}">
		    		<h4>รุ่น EV-3000-1</h4>
		    	</a>
		    	<a href="#" class="col-4 product">
		    		<img src="{% static 'images/products/sword.jpg' %}">
		    		<h4>รุ่น EV-3000-2</h4>
		    	</a>
		    </div>
		    <div class="row justify-content-center">
		    	<a href="#" class="col-4 product">
		    		<img src="{% static 'images/products/milg.jpg' %}">
		    		<h4>รุ่น EV-3000-1</h4>
		    	</a>
		    	<a href="#" class="col-4 product">
		    		<img src="{% static 'images/products/sword.jpg' %}">
		    		<h4>รุ่น EV-3000-2</h4>
		    	</a>
		    </div>
	    </div>
	</div>
</div>

{% endblock content %}
