.banner {
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        min-width: 100%;
        min-height: 100%
    }
}

.intro-video {
    width: 100%;
    background-color: rgba($evblue,0.4);

    video {
        display: block;
    }
}

.about-line {
    background-color: rgba(gray,.1);

    .row {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    img {border-radius: 1rem;}
}

.img-frame {
	text-align: center;

    &.h100 {img {max-height: 100px;}}
    &.h200 {img {max-height: 200px;}}
    &.h250 {img {max-height: 250px; max-width: inherit;}}
    &.h300 {img {max-height: 300px; max-width: 300px;}}
}

.product-list {
    background-color: rgba($evblue,0.3);
}

.benefit-line {
    background-color: rgba($evblue,0.4);

    .text-center {
        padding: 1.2rem 0;
    }

    .row .benefit {
        transform: skew(-10deg);
        margin-top: 0.3rem;
        color: black;
        margin: 0 1rem 1rem 1rem;
        padding: 0.5rem;
        background-color: white;
    }

}

.row .product {
    text-decoration: none;
    color: black;

    transition: box-shadow 0.2s ease;
    &:hover {
        box-shadow: 0 0 10px 3px rgba($evblue,.5);
    }

    margin: 0 1rem 2rem 1rem;
    padding: 0.5rem;
    background-color: white;
}

table.compare-table {
    width: 100%;
    table-layout: fixed;

    &, th, td {
        border: 1px solid rgb(180, 180, 180);
    }

    th, td {padding: 0.3rem;}

    th {
        background-color: rgb(220, 220, 220);
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: rgb(240, 240, 240);
    }

    tr:last-child {
        font-weight: bold;
    }
}

.banner-follow-us {
    text-align: center;
    font-size: 2rem;
    color: $evblue;
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 5rem;

    .first-line {
        padding-bottom: 1.5rem;
    }

    a {
        margin-left: 1rem;
        text-decoration: none;

        &:last-child {margin-right: 1rem;}
    }

    img {
        height: 2.5rem;
        border: 0;
    }
}
