.banner {
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        min-width: 100%;
        min-height: 100%
    }
}

.about-line {
    background-color: rgba(gray,.1);

    .row {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    img {border-radius: 1rem;}
}

.img-frame {
	text-align: center;

    &.h100 {img {max-height: 100px;}}
    &.h200 {img {max-height: 200px;}}
    &.h250 {img {max-height: 250px; max-width: inherit;}}
    &.h300 {img {max-height: 300px; max-width: 300px;}}
}

.product-list {
    background-color: rgba($evblue,0.3);
}

.row .product {
    text-decoration: none;
    color: black;

    transition: box-shadow 0.2s ease;
    &:hover {
        box-shadow: 0 0 10px 3px rgba($evblue,.5);
    }

    margin: 0 1rem 2rem 1rem;
    padding: 0.5rem;
    background-color: white;
}
