@font-face {
    src: url('fonts/FC Subject Rounded Regular.ttf');
    font-family: 'fc-subject-rounded';
}

html {font-size: 18px;}
body {font-family: 'fc-subject-rounded';}
h1 {font-size: 2.2rem;}
h2 {font-size: 1.8rem;}
h3 {font-size: 1.5rem;}

$evblue: rgb(3, 86, 144);
$black: rgb(51,51,51);
$grey: rgb(153,153,153);
$super-light-grey: rgb(241,241,241);
$light-grey: rgb(202,202,202);
$red: rgb(209,25,25);
$product-padding: 0.5rem;
$project-padding: 1rem;
$news-padding: 1rem;
$pill-padding: 1rem;

@import 'partials/navbar.scss';
@import 'partials/footer.scss';
@import 'partials/page.scss';
@import 'partials/home.scss';
@import 'partials/contact-us.scss';
// @import 'partials/card.scss';
// @import 'partials/contact.scss';
// @import 'partials/carousel.scss';
// @import 'partials/finance.scss';
// @import 'partials/modal.scss';
// @import 'partials/news.scss';
// @import 'partials/product.scss';
