{% load static i18n %}

<footer class="footer bg-evblue">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-auto">
                <div class="avoid-wrap">
                    <span class="icon-phone-alt"></span>
                    {% if LANG == 'en' %}
                        <a href="tel:{{PHONE1_en}}" class="underline">{{PHONE1_en}}</a>,&nbsp;
                        <a href="tel:{{PHONE2_en}}" class="underline">{{PHONE2_en}}</a>
                    {% else %}
                        <a href="tel:{{PHONE1_th}}" class="underline">{{PHONE1_th}}</a>,&nbsp;
                        <a href="tel:{{PHONE2_th}}" class="underline">{{PHONE2_th}}</a>
                    {% endif %}
                </div>
                <div class="avoid-wrap">
                    <span class="icon-envelope"></span>
                    <a href="mailto:{{EMAIL_SALES}}" class="underline">{{EMAIL_SALES}}</a>
                </div>

                <div style="padding-top: 0.75rem;">Copyright © 2002-{% now "Y" %} All Rights Reserved.</div>
                <div>PCJ INDUSTRIES CO., LTD.</div>
            </div>
            <div class="my-md-0 my-3 col-md-auto ms-md-auto text-capitalize text-center text-md-right align-self-center">
                {% trans 'follow-us' %}
                <a href="{{FACEBOOK}}" class="sub-button" target="_blank"><span class="icon-facebook-f"></span></a>
                <a href="{{YOUTUBE}}" class="sub-button" target="_blank"><span class="icon-youtube"></span></a>
            </div>
        </div>
    </div>
</footer>
