{% load static i18n %}

<nav class="navbar navbar-expand-lg navbar-dark bg-evblue" aria-label="Fifth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'page:page-home' %}">
            <img src="{% static 'images/logo-evtron.png' %}" style="filter: invert(100%);">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-capitalize">
                <li class="nav-item px-1"><a class="nav-link active" aria-current="page" href="{% url 'page:page-home' %}">{% trans 'home' %}</a></li>
                <li class="nav-item px-1"><a class="nav-link" href="{% url 'page:page-about' %}">{% trans 'about' %}</a></li>
                <li class="nav-item px-1 dropdown has-megamenu">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">{% trans 'products' %}</a>
                    <ul class="dropdown-menu megamenu" aria-labelledby="dropdown05">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg text-center">
                                <a href="{% url 'product:product-wind' %}" class="dropdown-item">
                                    <img src="{% static 'images/products/wind1.jpg' %}"><br>
                                    <span>WIND</span>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 col-lg text-center">
                                <a href="{% url 'product:product-move' %}" class="dropdown-item">
                                    <img src="{% static 'images/products/move1.jpg' %}"><br>
                                    <span>MOVE</span>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 col-lg text-center">
                                <a href="{% url 'product:product-carry' %}" class="dropdown-item">
                                    <img src="{% static 'images/products/carry1.jpg' %}"><br>
                                    <span>CARRY</span>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 col-lg text-center">
                                <a href="{% url 'product:product-max' %}" class="dropdown-item">
                                    <img src="{% static 'images/products/max1.jpg' %}"><br>
                                    <span>MAX</span>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 col-lg text-center">
                                <a href="{% url 'product:product-flash' %}" class="dropdown-item">
                                    <img src="{% static 'images/products/flash1.jpg' %}"><br>
                                    <span>FLASH</span>
                                </a>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item px-1"><a class="nav-link" href="{% static 'documents/Catalog, EVTRON.pdf' %}" target="_blank">{% trans 'catg' %}</a></li>
                <li class="nav-item px-1"><a class="nav-link" href="{% url 'page:page-contact' %}">{% trans 'contact' %}</a></li>
                <li class="nav-item px-2 flag"><a class="nav-link" href="/th{{request.get_full_path|slice:'3:'}}">
                    <img src="{% static 'images/flag_th.png' %}">
                </a></li>
                <li class="nav-item px-2 flag"><a class="nav-link" href="/en{{request.get_full_path|slice:'3:'}}">
                    <img src="{% static 'images/flag_en.png' %}">
                </a></li>
            </ul>
        </div>
    </div>
</nav>
